In [1]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = None

In [2]:
df = pd.read_csv("../data/00-tiburon_4.csv", index_col = 0)
df.head(2)

,case_number,year,type,country,area,location,activity,name,age,time,species_,href,siglo,injury,mes,deceso,genero
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,"No injury to occupant, outrigger canoe and pad...",Jun,N,F
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,FATAL,Jun,Y,M

# Pair Programming Limpieza I

Es el momento de empezar a limpiar nuestro dataframe que hemos ido viendo que est√° bastante sucio!
En este ejercicio trabajaremos con el dataframe que nos guardamos en la sesi√≥n de pair de Limpieza I.
‚Äã
*Antes de seguir, recordamos las preguntas que nos planteamos al principio del pair programming de EDA para dirigir nuestro an√°lisis.*

- ¬øEs Australia es el sitio m√°s peligroso y letal para estar relajada en la playa?
- ¬øCu√°l es el rango de edad que sufre la mayor√≠a de los ataques?
- Independientemente de la edad, sufren los hombres m√°s ataques que las mujeres?
- ¬øEn qu√© mes ocurren m√°s ataques?
- ¬øCu√°l es la relaci√≥n entre la especie y el tipo de ataque (si es fatal o no)?
- ¬øC√≥mo han evolucionado los ataques a lo largo del tiempo?

De todo esto, nos damos cuenta que solo tenemos que limpiar algunas de las columnas, en concreto age, species, country, fatal, year, sex. Si reducimos esto a una tabla para saber que tenemos ya limpito y que no:

Entre las tareas que tendr√©is que hacer hoy:

1. Al empezar a trabajar con este dataframe .ya eliminamos algunas columnas que a priori no nos interesaban. Ahora llega el momento de eliminar alguna columna m√°s. En este caso vamos tendr√©is que eliminar las columnas que no nos sean √∫tiles para contestar a nuestras preguntas. Pero ojo ‚ö†Ô∏è, haced una copia del dataframe para no "cargarnos" el dataframe original y perder la info.
2. ¬øHay valores duplicados en nuestro dataframe? En caso de que los haya, elimin√°ndolos.
3. Como hemos visto, algunas columnas no tienen el tipo de datos que deber√≠an. Cambiad el tipo de dato para la columna de year.
4. En la columna de country poner todos los valores en min√∫sculas.
üí° Pista Tendr√©is que usar una funci√≥n o una lambda üí°
5. Guardamos el csv para seguir trabajando en el siguiente ejercicio de pair de limpieza.

1. Al empezar a trabajar con este dataframe .ya eliminamos algunas columnas que a priori no nos interesaban. Ahora llega el momento de eliminar alguna columna m√°s. En este caso vamos tendr√©is que eliminar las columnas que no nos sean √∫tiles para contestar a nuestras preguntas. Pero ojo ‚ö†Ô∏è, haced una copia del dataframe para no "cargarnos" el dataframe original y perder la info.

In [3]:
df2 = df.copy()

In [4]:
df2.head(2)

,case_number,year,type,country,area,location,activity,name,age,time,species_,href,siglo,injury,mes,deceso,genero
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,"No injury to occupant, outrigger canoe and pad...",Jun,N,F
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,FATAL,Jun,Y,M

In [5]:
df2.drop(['case_number', 'area','location','name','time','href','siglo','injury'],axis=1, inplace=True)
df2.head(2)

     year        type country  activity age     species_  mes deceso genero
0  2018.0     Boating     USA  Paddling  57  White shark  Jun      N      F
1  2018.0  Unprovoked  BRAZIL  Swimming  18  Tiger shark  Jun      Y      M

2. ¬øHay valores duplicados en nuestro dataframe? En caso de que los haya, elimin√°ndolos.

In [6]:
df2.duplicated().sum()

3

In [7]:
df2 =df2.drop_duplicates()

In [8]:
df2.duplicated().sum()

0

In [9]:
df2.head()

,year,type,country,activity,age,species_,mes,deceso,genero
0,2018.0,Boating,USA,Paddling,57,White shark,Jun,N,F
1,2018.0,Unprovoked,BRAZIL,Swimming,18,Tiger shark,Jun,Y,M
2,2018.0,Unprovoked,USA,Walking,15,"Bull shark, 6'",May,N,M
3,2018.0,Provoked,AUSTRALIA,Feeding sharks,32,Grey reef shark,May,N,M
4,2018.0,Invalid,ENGLAND,Fishing,21,Invalid incident,May,N,M

3. Como hemos visto, algunas columnas no tienen el tipo de datos que deber√≠an. Cambiad el tipo de dato para la columna de year.

In [10]:
df2['year']= df2['year'].astype('Int64',errors = 'raise')

In [11]:
df2.dtypes

year         Int64
type        object
country     object
activity    object
age         object
species_    object
mes         object
deceso      object
genero      object
dtype: object

4. En la columna de country poner todos los valores en min√∫sculas.
üí° Pista Tendr√©is que usar una funci√≥n o una lambda üí°

In [12]:
def minusculas(x):
   try:
      if isinstance(x,str):# comprueba que dentro la fila sea un string, y lo cambia lower.
         return x.lower()
      else:
         return x
   except:
      return x

df2['country']= df2['country'].apply(minusculas)

In [13]:
df2["country"]

0                      usa
1                   brazil
2                      usa
3                australia
4                  england
               ...
1667             australia
1668             australia
1669                   usa
1670                panama
1671    ceylon (sri lanka)
Name: country, Length: 1669, dtype: object

Como tenemos unas columnas con los nombres en ingl√©s y otros en castellano, modificamos para que sigan una misma linea

In [14]:
columnas_nuevas = {"species_": "species", "mes": "month", "deceso": "fatal", "genero": "gender"}

In [15]:
df2.rename(columns= columnas_nuevas, inplace= True)

5. Guardamos el csv para seguir trabajando en el siguiente ejercicio de pair de limpieza.

In [16]:
df2.to_csv("../data/01-tiburon_4.csv")