In [16]:
import pandas as pd
import numpy as np
import sidetable as stb

pd.options.display.max_columns = None

In [17]:
df = pd.read_csv("../data/03-tiburon_4.csv", index_col = 0)
df.head(2)

   year        type country  activity   age species month fatal gender
0  2018     Boating     usa  Paddling  57.0   White   Jun     N      F
1  2018  Unprovoked  brazil  Swimming  18.0   Tiger   Jun     Y      M

# Pair Programming Limpieza IV

En este caso trabajaremos con el dataframe que limpiamos en el ejercicio de pair de Limpieza anterior, el de Limpieza III, donde limpiabamos las columnas de species, age, etc. y eliminabamos los outliers.


Antes de seguir, recordamos las preguntas que nos planteamos al principio del pair programming de EDA para dirigir nuestro an√°lisis.

- ¬øEs Australia es el sitio m√°s peligroso y letal para estar relajada en la playa?
- ¬øCu√°l es el rango de edad que sufre la mayor√≠a de los ataques?
Independientemente de la edad, sufren los hombres m√°s ataques que las mujeres?
- ¬øEn qu√© mes ocurren m√°s ataques?
- ¬øCu√°l es la relaci√≥n entre la especie y el tipo de ataque (si es fatal o no)?
- ¬øC√≥mo han evolucionado los ataques a lo largo del tiempo?

De todo esto, nos damos cuenta que solo tenemos que limpiar algunas de las columnas, en concreto age, species, country, fatal, year, sex. Si reducimos esto a una tabla para saber que tenemos ya limpito y que no. **Actualizamos esta tabla ya que en el ejercicio de pair de Limpieza I ya dejamos algunas columnas limpitas:

Es el momento de ponernos a trabajar con los valores nulos üí™üèΩ. A lo largo de este ejercicio de pair programming vamos a intentar eliminar los valores nulos de nuestras columnas. En la lecci√≥n hemos aprendido varios m√©todos, nosotras os planteamos los ejercicios pero sentiros libres de usar el m√©todo que m√°s se adapte a vuestras necesidades. Manos a la obra!


1. Lo primero que tenemos que evaluar es en que columnas tenemos nulos y que cantidad tenemos en cada una. ¬øHay alguna columna con una gran cantidad de nulos? En caso de que sea as√≠ deberemos eliminarla.

In [18]:
df.head(2)

   year        type country  activity   age species month fatal gender
0  2018     Boating     usa  Paddling  57.0   White   Jun     N      F
1  2018  Unprovoked  brazil  Swimming  18.0   Tiger   Jun     Y      M

In [19]:
# Comprobamos los nulos
df.stb.missing()

          missing  total   percent
age           156   1669  9.346914
month         152   1669  9.107250
fatal          99   1669  5.931696
activity       31   1669  1.857400
gender         14   1669  0.838826
country        10   1669  0.599161
year            0   1669  0.000000
type            0   1669  0.000000
species         0   1669  0.000000

La columna que m√°s tiene es un 9% de nulos , por lo que no tendriamos que conservar todas las columnas y los datos.

2. Es el momento de eliminar los nulos:

- Reemplazad los valores nulos de la columna age por la media de la edad, redondeada a dos decimales.

In [20]:
# usamos fillna para rellenar los nulos con la media recondeada a dos decimales
df['age'].fillna(round(df['age'].mean(), 2), inplace= True)

In [21]:
# Comprobamos
df.age.isnull().sum()

0

- En relaci√≥n a la columna de country al tratarse de una columna de tipo categ√≥rica, reemplazad los valores nulos por una nueva categ√≥ria que se llame Unknown.

In [22]:
# Con el m√©todo replace, modificamos los nulos de la columna country
df['country'].replace(np.nan, 'Unknown', inplace=True)

In [23]:
# Comprobamos
df.country.isnull().sum()

0

- Reemplazad los valores nulos de la columna fatal por Unknown.

In [24]:
# Con el m√©todo replace, modificamos los nulos
df['fatal'].replace(np.nan, 'Unknown', inplace=True)

In [25]:
# Comprobamos
df["fatal"].isnull().sum()

0

- Reemplazad los valores nulos de la columna type por el valor m√°s frecuente (la moda).

In [26]:
# Usamos el m√©todo fillna para reemplazar los nulos de la columna type por el valor m√°s frecuente
df['type'].fillna(df['type'].mode()[0], inplace= True)

In [27]:
# Comprobamos
df["type"].isnull().sum()

0

- Reemplazad los valores nulos de la columna fecha por Unknown.

In [28]:
# Con el m√©todo fillna, reemplazamos los nulos por Unknown
df['month'].fillna('Unknown', inplace= True)

In [29]:
# Comprobamos
df["month"].isnull().sum()

0

Antes de terminar, volvemos a comprobar los nulos de todo el dataframe

In [30]:
# Comprobamos los nulos
df.stb.missing()

          missing  total   percent
activity       31   1669  1.857400
gender         14   1669  0.838826
year            0   1669  0.000000
type            0   1669  0.000000
country         0   1669  0.000000
age             0   1669  0.000000
species         0   1669  0.000000
month           0   1669  0.000000
fatal           0   1669  0.000000

In [32]:
# Como seguimos teniendo nulos en la columna gender y activity, procedemos a cambiarlos por el valor "Unknown"
df['activity'].fillna('Unknown', inplace= True)
df['gender'].fillna('Unknown', inplace= True)

3. Guardad el csv para seguir trabajando con el en los siguientes ejercicios de pair.

In [33]:
df.to_csv("../data/04-tiburon_4.csv")